main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 120px;
  color: white;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 2px solid gray;
  font-size: 25px;
  font-weight: bolder;
}
.timer {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
